.editForm {
    margin-bottom: 50px;
    padding: 20px;
    border: solid 1px #dbd9d9;
    border-radius: 5px;

    h1 {
        padding: 20px 0 5px 0;
        border-bottom: solid 1px #dbd9d9;
    }

    h2 {
        color: grey;
        font-weight: 500;
        margin: 0;
    }
}

.switchBtn {
    display: flex;
    gap: 50px;

    h2 {
        padding: 5px 20px 5px 10px;
        margin: 0 20px 20px 10px;
        cursor: pointer;
        transition: all 0.3s;
    }

    h2:hover {
        border-bottom: 2px solid #858484;
    }
}

.editProfileForm input,
.editProfileForm textarea {
    padding: 10px 15px;
    margin-bottom: 15px;
    border: solid 1px #dbd9d9;
    width: 50%;
}

.submitBtn {
    padding: 14px 10px;
    background-color: #0a95ff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #0074cc;
    }
}


.cancelBtn {
    padding: 14px 10px;
    color: #0a95ff;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
        color: red;
        font-weight: 600;
    }
}

.deleteBtn {
    margin: 8px 0;
    padding: 14px 10px;
    background-color: #46a6ef9b;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 900;
    color: rgb(215, 96, 96);
    letter-spacing: 0.1rem;

    &:hover {
        background-color: #0074cc;
        color: red;
    }
}